# Android Studio
/.idea/libraries/
/.idea/caches/
/.idea/dictionaries/
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
*.iml

# Gradle
/.gradle/
/build/
/local.properties
/gradle.properties

# Build
release/

# Other
.DS_Store
